<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login google user...</title>
</head>
<body>
  <p>Sign In With Google..</p>  

  <script>
    const params = new URLSearchParams(window.location.search);
    const token=params.get('token');
    if(token){
        localStorage.getItem('authToken',token)
        window.location.href='/'
    }else{
        window.location.href="/login"
    }

  </script>
</body>
</html>