<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>User Signup | Stravin</title>

  <!-- Bootstrap CSS -->
  <link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
    rel="stylesheet"
  />
   <!-- SweetAlert -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

  <style>
    body {
      background: linear-gradient(135deg, #141e30, #243b55);
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: "Poppins", sans-serif;
    }

    .card {
      border-radius: 20px;
      box-shadow: 0 8px 25px rgba(0, 0, 0, 0.2);
    }

    h3 {
      font-weight: 600;
      color: #222;
    }

    .form-label {
      font-weight: 500;
      color: #333;
    }

    .btn-primary {
      background-color: #111;
      border: none;
      transition: 0.3s;
    }

    .btn-primary:hover {
      background-color: #1a73e8;
    }

    .btn-outline-primary {
      border-color: #1a73e8;
      color: #1a73e8;
    }

    .btn-outline-primary:hover {
      background-color: #1a73e8;
      color: #fff;
    }

    a {
      color: #1a73e8;
    }

    a:hover {
      text-decoration: underline;
    }
  </style>
</head>
<body>
  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-5">
        <div class="card shadow-lg border-0 rounded-4">
          <div class="card-body p-4">
            <h3 class="text-center mb-4">Create Account</h3>

      <form id="signupForm">
              <div class="mb-3">
                <label for="name" class="form-label">Full Name</label>
                <input
                  type="text"
                  id="name"
                  name="name"
                  class="form-control"
                  placeholder="Enter your name"/>
                  <span id="nameError" class="text-danger small"></span>
              </div>

              <div class="mb-3">
                <label for="email" class="form-label">Email address</label>
                <input
                  type="email"
                  id="email"
                  name="email"
                  class="form-control"
                  placeholder="Enter your email Id"/>
                  <span id="emailError" class="text-danger small"></span>
              </div>

              <div class="mb-3">
                <label for="mobile" class="form-label">Mobile Number</label>
                <input
                  type="text"
                  id="mobile"
                  name="mobile"
                  class="form-control"
                  placeholder="Enter mobile number" />
                  <span id="mobileError" class="text-danger small"></span>
              </div>

      <div class="mb-3">
       <label for="password" class="form-label">Password</label>
           <input
                  type="password"
                  id="password"
                  name="password"
                  class="form-control"
                  placeholder="Enter password"/>
          <small id="passwordMessage" class="text-danger">
              Password must be at least 6 characters, contain one uppercase letter and one number
            </small>
           <span id="passwordError" class="text-danger small"></span>
              </div>
               <div class="mb-3">
                <label for="password" class="form-label">Confirm Password</label>
                <input
                  type="password"
                  id="confirmpassword"
                  name="confirmpassword"
                  class="form-control"
                  placeholder="Confirm password"/>
                  <span id="confirmpasswordError" class="text-danger small"></span>
              </div>

           
        <button type="submit" class="btn btn-primary w-100">Signup</button>
              <p class="text-center mt-3">
            Already have an account?
            <a href="/login" class="text-decoration-none">Login here</a>
              </p>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
<script>
document.getElementById("signupForm").addEventListener("submit", async function (e) {
    e.preventDefault(); 

    clearErrors(); 

    const name = document.getElementById("name").value.trim();
    const email = document.getElementById("email").value.trim();
    const mobile = document.getElementById("mobile").value.trim();
    const password = document.getElementById("password").value.trim();
    const confirmpassword = document.getElementById("confirmpassword").value.trim();

    let valid = true;

    if (!/^[A-Za-z ]+$/.test(name)) {
        showError("nameError", "Enter a valid name!Name must contain only letters")
        valid = false;
    }
    if (!/^[^\s@]+@[^\s@]+\.[^\s@]+$/.test(email)) {
        showError("emailError", "Enter a valid email.")
        valid = false;
    }
    if (!/^\d{10}$/.test(mobile)) {
        showError("mobileError", "Mobile number must be 10 digits.")
        valid = false;
    }
    if (!/^(?=.*[A-Za-z])(?=.*\d).{6,}$/.test(password) ) {
        showError("passwordError", "Password must be at least 6 characters and contain letters & numbers.")
        valid = false;
    }
    if (password !== confirmpassword) {
        showError("confirmpasswordError", "Passwords do not match!")
        valid = false;
    }
    const passwordInput = document.getElementById('password')
    const passwordMessage=document.getElementById('passwordMessage')
    passwordInput.addEventListener('input',()=>{
      const password=passwordInput.value;

      const hasUpper=/[A-Z]/.test(password)
      const hasNumber=/\d/.test(password)
      const hasLength=password.length>=6
      if(!hasUpper||!hasLength||!hasNumber){
        passwordMessage.classList.remove('text-success')
        passwordMessage.classList.add('text-danger')
        passwordMessage.innerHTML=`Password must include :
        <br>.Minimum 6 characters
        <br>.Atleast 1 Uppercase letter
        <br>.Atleast 1 number
        `;
      }
      else{
        passwordMessage.classList.remove('text-danger')
        passwordMessage.classList.remove('text-success')
        passwordMessage.innerHTML="Strong Password ✔"
      }
    })
    if (!valid) return;
    try {
        const response = await fetch("/signup", {
            method: "POST",
            headers: { "Content-Type": "application/json" },
            body: JSON.stringify({
                name,
                email,
                mobile,
                password,
                confirmpassword,
            }),
        });

        const result = await response.json();

        if (result.success) {
            Swal.fire({
                icon: "success",
                title: "Signup Successful!",
                text: result.message,
            })
            setTimeout(()=>{
              window.location.href='/verifyOtp'
            },1500)
        } else {
            Swal.fire({
                icon: "error",
                title: "Signup Failed",
                text: result.message,
            });
        }

    } catch (error) {
        Swal.fire({
            icon: "error",
            title: "Server Error",
            text: "Something went wrong!",
        });
    }
});


function showError(id, msg) {
    document.getElementById(id).textContent = msg;
}

function clearErrors() {
    document.querySelectorAll("span.text-danger, span.rext-danger")
        .forEach(ele => ele.textContent = "");
}
</script>
</body>
</html>
