<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Verify OTP</title>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>

<body class="bg-light">

<div class="container mt-5">

    <div class="col-md-4 mx-auto p-4 shadow rounded bg-white">


    <h3 class="text-center mb-3">Verify OTP</h3>
    <p class="text-center text-muted">Check your email and enter the OTP below</p>

    <div class="mb-3">
      <label for="otp" class="form-label">Enter OTP</label>
      <input type="text" class="form-control" id="otp" placeholder="6-digit OTP">
    </div>

    <button id="verifyBtn" class="btn btn-primary w-100">Verify OTP</button>

    <p id="timerText" class="text-center text-danger fw-bold"></p>
    <button id="resendBtn" class="btn btn-link" disabled>
      Resend OTP
    </button>
    
      
    </p>
  </div>
</div>


<script>


// verify OTP
document.getElementById('verifyBtn').addEventListener('click', async () => {
    const otp = document.getElementById('otp').value.trim();
    
    if (!otp) {
        return Swal.fire('Oops..Error Occured!', "Please Enter OTP", 'error');
    }

    const res = await fetch('/verifyOtp', {
        method: 'POST',
        headers: { 'Content-Type': 'application/json' },
        body: JSON.stringify({otp})
    });

    const data = await res.json();

    if (data.success) {
        Swal.fire({
            icon: 'success',
            title: "OTP Verified!",
            text: "Your Registration is Successfully Verified",
            timer: 1500,
            showConfirmButton: false
        });

        setTimeout(() => {
            window.location.href = '/login';
        }, 1500);

    } else {
        Swal.fire("Error", data.message, "error");
    }
});
//Timer of 60 sec,resendOtp button get disabled.
  let timer = 60
  const timerText = document.getElementById('timerText')
  const resendBtn = document.getElementById('resendBtn')

  function startTimer(){
    resendBtn.disabled=true;

    const countdown = setInterval(()=>{
      timer--
      timerText.innerText=`Resend OTP in ${timer}`

      if(timer<=0){
      clearInterval(countdown)
      timerText.innerText='Resending OTP '
      resendBtn.disabled=false
    }
    },1000)
  }
  startTimer()
  //Resened Otp button click
  resendBtn.addEventListener('click',async()=>{
  resendBtn.disabled=true

const response = await fetch('/resendOtp', { method: "POST" })
const data = await response.json()
if(data.success){
  Swal.fire({
    icon:"success",
    title:"OTP Resent !",
    timer:1500,
    showConfirmButton:false
  })
  
  timer=60
  startTimer()

}

else{
Swal.fire({
  icon:"error",
  title:"Error!",
  text:data.message
})
resendBtn.disabled=false;
}
  })
</script>
</body>
</html>
